.favoriteProduct {
    display: flex;
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
  }
  
  .favoriteProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .favoriteProduct_info {
    padding-left: 20px;
  }
  
  .favoriteProduct_title {
    font-size: 17px;
    font-weight: 800;
  }
  
  .favoriteProduct_price {
    margin-top: 5px;
  }
  
  .favoriteProduct_rating p {
    display: inline;
  }
  
  .favoriteProduct_rating p {
    color: #f0c14b;
  }
  
  .favoriteProduct_info button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 3px 10px;
  }
  