
.favouritesPage .card {
  margin: 0; 
}
.each_card .view {
  right: 100%;
  left:-50%;
  bottom: 50%;
}

.favorites .card{
  margin-left: 0px; 
  margin-top: 0px;
  margin: 0;
}
.favoritesPage_products {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin: 0; 

}