

.wishlist-head{
  font-size: larger;
}

.empty-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
@media (max-width: 800px) {
  .empty-list {
    flex-direction: column;
  }
  .empty-img {
    width: 250px;
    height: 250px;
    margin: -40px;
    margin-top: -70px;
  }
  
}
.favoritesPage{
  align-items: center;
}
.favoritesPage_products {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;
}