@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.LowerHeader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}
.home {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 880px) {
  #category-select {
    font-size: 10px;
  }
}

.category_images{
  margin: 10px;
}

.category_image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  border-radius: 1rem; /* Apply border-radius initially */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}
.browse_category_name {
  text-align: center; /* Center align category name */
  margin-top: 10px; /* Adjust spacing between image and text */
  font-weight: 300; /* Ensure consistent font weight */

}
.browse_category_name:hover{
  cursor: pointer;
  color:#DB4444;
}
.category_image:hover {
  transform: scale(1.05) translateY(-5px); /* Scale up and move up slightly on hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  filter: brightness(1.1); /* Increase brightness slightly */
}
.products {
  margin-left: 10px;
}
img{
  cursor: pointer;
}
.product-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
}

.slick-prev, .slick-next {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.product-row > div {
  flex: 1;
  margin: 0 10px;
}

.slider {
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
.view_all_category h2{
  font-weight: 550;
}

.category_image{
  width: 300px;
  height: 250px;
  margin-left: 10px;
}
.category_name{
  font-weight: 600; 

}
.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: center;
}
.view_all_category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_header{
  display: flex;
  justify-content: space-between; 
}
.view-all{
  margin-right: 10px;
  font-weight: 500;
}
.view-all:hover{
  cursor: pointer;
  color: #DB4444;
}

#category-select {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 4px;
}

#category-select:hover,
#category-select:focus {
  border-color: #FFAD33;
}

