@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.5rem;
  margin: 20px;
  transition: box-shadow 0.3s;
  width: 15rem; /* 320px */
  height: 20rem; /* 400px */
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card p{
  margin: 2px;
}
.card-img-data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.25rem; /* 180px */
}

.card-img {
  margin: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 0;
  display: block;
  height: 10rem; /* 240px */
  width: 10rem;
}

.price-off {
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
  color: red;
  font-weight: 600;
  border-radius: 4px;
  font-size: 1rem;
}

.view {
  z-index: 1;
}

.product_link {
  z-index: 1;
}

.product_link .view {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease; /* Add transition for smooth effect */
  font-family: "Poppins", sans-serif;
}

.product_link .view:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
  filter: brightness(1.2); /* Increase brightness on hover */
  transform: scale(1.05); /* Slightly scale up the element on hover */
  background-color: rgba(0, 0, 0, 0.95); /* Slightly darken the background on hover */
}

.add-list {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.card-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7px;
}

.card-title {
  font-weight: 600;
  font-size: 1rem;
}

.card-category {
  font-weight: 300;
  color: #555;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.card-data .rating {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1px;
}

.rating-text {
  margin-left: 0.5rem;
  font-weight: 300;
  color: #555;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  font-weight: 600;
  color: black;
}

.mrp {
  text-decoration: line-through;
  color: #888;
}

/* Responsive Styles */
@media (max-width: 890px) {
  .card {
    width: 12rem; 
    height: 15rem; 
    /* align-items: center; */
  }
  .card-img{
    width: 10rem;
    height: 6rem;
    margin: 1rem;
    margin-left: 7rem;
  }
  .card-img-data {
    width: 6rem;
    height: 10rem;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .product_link .view {
    font-size: 0.9rem;
    padding: 0.4rem 0;
  }

  .rating {
    display: none;
    /* visibility: hidden; */
  }

  .discount {
    font-size: 0.9rem;
  }

  .mrp {
    font-size: 0.8rem;
  }
}

/* Additional Media Query for Smaller Devices */
@media (max-width: 500px) {
  .card {
    width: 9rem; 
    height: 14rem; 
    /* align-items: center; */
  }
  .card-img{
    width: 8rem;
    height: 4rem;
    margin: .4rem;
    margin-left: 3.5rem;
  }
  .rating .MuiRating-icon {
    font-size: 14px; /* Adjust font size here */
  }
  .raitng-stars{
    height: 10px;
  }
  .card-data{
    height: 14rem;
  }
  .card-img-data {
    width: 6rem;
    height: 10rem;
  }
  .card-title {
    font-size: 0.9rem;
  }
  .product_link .view {
    font-size: 0.7rem;
  }

  .rating {
    display: none;
    /* visibility: hidden; */
  }

  .discount {
    font-size: 0.9rem;
  }

  .mrp {
    font-size: 0.8rem;
  }
}