.header {
  background-color: #FFAD33;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow-x: hidden; /* Ensure no horizontal scrollbar */
  box-sizing: border-box;
  min-width: 0; /* Ensure it can shrink below its content width */
}

.header_badge {
  margin-left: 5px; /* Adjust this value as needed */
background-color: rgb(30, 23, 16);
}

.header_logo {
  width: 100px;
  object-fit: contain;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.header_Link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.header_optionLineOne {
  font-size: 12px;
  color: black;
}

.header_optionLineTwo {
  color: black;
  font-size: 16px;
  font-weight: 800;
}

.header_option_fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
}

.fav_cart {
  display: flex;
  align-items: center;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
