@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

a {
  text-decoration: none;
}

.category-product {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
}

.category-product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 200px;
  max-height: 200px;
  margin: 15px;
}
.product-image:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.product-title:hover{
  color: #DB4444;
  font-weight: 550;
  font-size: medium;
}
.product-price {
  font-size: 18px;
  font-weight: 600;
}

.price-symbol {
  top: -.75em;
  font-size: 13px;
  color: #0f1111;
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: none !important;
}

.mrp1 {
  color: #565959;
  font-size: 20px !important;
  line-height: 20px !important;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
}

.mrp2 {
  color: #565959;
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
  text-decoration: line-through;
}

.category-product .discount {
  color: #FFAD33;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-text {
  font-size: 14px;
  color: #9e9e9e;
  margin-left: 5px;
}

.category-button {
  background-color: #FFAD33;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.category-product button:hover {
  background-color: #ffc200;
}

@media (max-width: 768px) {
  .category-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-image {
    margin-bottom: 10px;
  }

  .product-info {
    align-items: center;
  }
}
