.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.carousel-image {
  width: 100%;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  z-index: 10;
  padding: 8px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
