/* ResponsiveSlider.css */
.slider-container {
  max-width: 100%;
  overflow: hidden;
}

.slider-item {
  margin-left: 10px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.slick-prev, .slick-next {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: #333; /* Adjust color as needed */
  background: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 10px; /* Adjust position as needed */
}

.slick-next {
  right: 10px; /* Adjust position as needed */
}

.slick-prev:hover, .slick-next:hover {
  color: #555; /* Hover color */
}
